{% extends "layout.html" %}
{% block content %}

    <h1>About us</h1>
    {% for about in abouts %}

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ about.name }}</a>
              <small class="text-muted">{{ about.position }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ about.name }}</a></h2>
            <p class="article-content">{{ about.position }}</p>
          </div>
        </article>
    {% endfor %}

{% endblock content %}

